.info-container{
    font-size: 50px;
    color: brown;
}

/* WelcomeCard.css */

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.button {
  margin-top: 20px;
}

.articles {
  margin-top: 20px;
}* WelcomeCard.css */

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.button {
  margin-top: 20px;
}

.articles {
  margin-top: 20px;
}